@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:ital,wght@0,400;1,700;1,900&display=swap');
:root{
    --cor-principal:#7f7f80;
    --cor-destaque:#8257e5;
    --cor-destaque-tonalidade-clara:#9170df;
    --cor-de-fundo:#121214;
    --cor-branca:#ffffff;
    --cor-amarela:#FDC240;
}
*{
    color: var(--cor-principal);
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --webkit-font-smoothing: grayscale;
    --webkit-osx-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    font-size: 100%;
}

html, body{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: var(--cor-branca);
}
header{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#logo{
    display: flex;
    flex-direction: column;
    gap: 0rem;

}
#titulo{
    color: var(--cor-destaque);
    font: italic bold 1.5rem 'Poppins';
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#sub-titulo{
    font-size: .7rem;
}
nav{
    display: flex;
    align-items: center;
}
button{
    display: none;
}
.material-symbols-outlined{
    cursor: pointer;
    padding: .4rem;
    color: var(--cor-destaque);
}
.material-symbols-outlined:hover{
    color: var(--cor-principal);
}
ul{

    width: 100%;
    display: flex;
    list-style: none;
    align-items: center;
}
li{
    display: block;
    padding: 1rem;
    
}
.selector{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.selector:hover{
    color: var(--cor-destaque);
    
}
.chevrons{
    display: none;
}
.chevrons1{
    display: none;
}
#desing{
    display: flex;
    justify-content: space-between;
    gap: .4rem;
    align-items: center;
    padding: 0rem 1.5rem;
}
.desing-logo{
    background-color: var(--cor-destaque);
    width: 2.5rem;
    height: .2rem;
    border-radius: 1rem;
}
footer{
    background-color: var(--cor-branca);
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font: bolder 1rem 'poppins', sans-serif;
    color: var(--cor-destaque);
    text-align: center;
}
#reconhecimento{
    color: var(--cor-destaque);
}
#reconhecimento a{
    color: var(--cor-amarela);
}
#rotate{
    transition: 1s ease-in-out;
    transform: rotate(360deg);
}
section{
    height: 75%;
}
img{
    height: auto;
    max-width: 100%;
    background-size: cover;
}
@media (max-width:770px){
    #titulo{
        font-size: 1.1rem;
    }
    #sub-titulo{
        font-size: .5rem;
    }
    .desing-logo{
        width: 2rem;
    }
    #menu{
    display: none;
    align-items: start;
    flex-direction: column;
    position: fixed;
    top: 3.2rem;
    right: 0;
    background-color: var(--cor-destaque);
    width: 100%;
    height: calc(100vh - 3rem);
    }
    .chevrons{
    display: flex;
    stroke: var(--cor-branca);
    }
    .chevrons1{
        display: flex;

        stroke: var(--cor-branca);
    }
    li{
        width: 100%;

        color: var(--cor-de-fundo);
    }
    li:hover{
        color: var(--cor-branca);
    }
    .selector{
        width: 100%;
        border-bottom: 1px solid var(--cor-branca);
    }
    .selector:hover{
        background-color: var(--cor-destaque-tonalidade-clara);
    }
    button{
        display: flex;
        background-color: var(--cor-destaque);
        color: white;
        border: .4rem solid transparent;
        border-radius: .5rem;
        padding: 0 1rem;
        cursor: pointer;
    }
    button:hover{
        background-color: var(--cor-principal);
    }
    .material-symbols-outlined{
        padding-left: .1rem;
    }
    nav{
        display: flex;
        column-gap: .2rem;
    }

}